<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkNqg3c-zVwc5ZwEMnFmG_n7SZ62PUkYM</string>
	<key>GCM_SENDER_ID</key>
	<string>275410977507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flipkart</string>
	<key>PROJECT_ID</key>
	<string>shawarmaking-c139a</string>
	<key>STORAGE_BUCKET</key>
	<string>shawarmaking-c139a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275410977507:ios:d24f31ab5c8935397bbbd6</string>
</dict>
</plist>